{ margin: 0; padding: 0; }

#button2
{
    font-size: 130%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    border: solid 2px #66fcf1;
    width: 300px;
    height: 5%;
    border-radius: 5%;
    padding-top: 0.5%;
    cursor: pointer;
    float: right;
}

#cari
{
    width:200px;height:300px;
}

#arena
{
    width:1000px; height: 300px; background-color:black; padding:20px 20px 20px 20px; border-radius:20px;
}

#bilik_kanan
{
    background-color:white; width:100px; height:100%; float:right;
}

#bilik_kiri
{
    background-color:white; width:100px; height:100%; float:left;
}

#gambar
{
    border-radius:50%;
}

#start
{
    width:100px;
}

.teks
{
    width:50px;
}

#rule
{
   background-color: gray; 
}
